
  <div class="container-fluid body">
    <div class="row">
        <div class="col-lg-12">
          <img src="assets/img/layout-winner.png" class="renda"/>
        </div>
    </div>

  <!--menu-->
    <div class="row">
      <div class="col-lg-2">
          <button class="btn btn-info btn-lg again">MAIN LAGI</button>
          
      </div>

      <div class="col-lg-8">
        <img class="piala" src="assets/img/piala-08.png" />
      </div>

      <div class="col-lg-2">
          <img src="assets/img/icon/home-01.png" class="home" />
      </div>
    </div>







  </div>

