.body {
    background-image: url("assets/img/bg.png");
    width: 1365px;
    height: 660px;
}
.renda {
    width: 100%;
    
    
}

.piala {
    width: 320px;
    margin-left: 280px;
    margin-top: 20px;
}

.again {
    font-family: bingbong;
    color: white;
    font-size: 20px;
    margin-left: 90px;
    margin-top: 340px;
}

.home {
    width: 132px; 
    height: 125px;
    margin-left: 10px;
  
    margin-top: 280px;
    
   
}